<form method="POST" action="{% url 'save_top_purposes_view' %}">
    {% csrf_token %}
    <p>Select your top 5 purposes:</p>
    <div>
        {% for purpose in purposes %}
            <button type="button" class="purpose-button" data-purpose-id="{{ purpose.id }}">{{ purpose.purpose_name }}</button>
        {% endfor %}
    </div>
    <input type="hidden" name="selected_purposes" id="selected_purposes" value="">
    <button type="submit">Save</button>
  </form>
  
  <script>
    var selectedPurposes = [];
  
    // Attach click event listeners to the purpose buttons
    document.querySelectorAll('.purpose-button').forEach(function(button) {
        button.addEventListener('click', function() {
            var purposeId = this.getAttribute('data-purpose-id');
            togglePurpose(purposeId);
        });
    });
  
    function togglePurpose(purposeId) {
        var index = selectedPurposes.indexOf(purposeId);
        if (index === -1) {
            selectedPurposes.push(purposeId);
            document.querySelector('.purpose-button[data-purpose-id="' + purposeId + '"]').classList.add('selected');
        } else {
            selectedPurposes.splice(index, 1);
            document.querySelector('.purpose-button[data-purpose-id="' + purposeId + '"]').classList.remove('selected');
        }
        document.getElementById('selected_purposes').value = selectedPurposes.join(',');
    }
  </script>