<head>
    <style>
      .user-controls{
        display: flex;
        justify-content: right;
      }
    </style>
  </head>
  <body>
  {% if user.is_authenticated %}
  Hi {{ user.username }}!
  <div class="user-controls">
    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button type="submit">Log Out</button>
    </form>
    <form action="{% url 'signup' %}" method="post">
      {% csrf_token %}
      <button type="submit">Signup</button>
    </form>
  </div>
  {% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
<br/>
<a href="{% url 'signup' %}">Signup</a>
{% endif %}
</body>