{% load static %}
{% include "header.html" %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% block styles %}
<style>
.selected {
    background-color: black;
    color: white;
}
body{
        margin: 0;
        background: #F6F6F6;
    }
    .whole-page{
        background: #F6F6F6;
        display: flex;
    }
    .sidebar {
            background:white;
            color:black;
            width: 360px;
            height: fit-content;
            left: 0;
            height: 1671px;
        }
.profile-pic .image {
  display: inline-block;
  width: 156px;
  height: 156px;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 50%;
}
.profile-pic-container{
    /* margin-top: 85px; */
    margin-bottom:23px;
    margin-left:70px;
}
.image{
    margin-top:43px;
}
.user-name{
    font-size:23px;
    font-family:"Inter", Arial, sans-serif;
    font-weight: 500;
    color: #464646;
    padding:21px;
    position: relative;
    left:5px;
}
.sidebar-anchors a{
    font-size: 20px;
    font-weight: 400;
    font-family:"Inter", Arial, sans-serif;
    text-decoration: none;
    color: #2E2E2E;
    margin-bottom: 10px;
    display: block;
    margin-left: 35px;

}
.sidebar-anchors a:hover{
    background-color: #F6F6F6;
    cursor: pointer;
    width: 365px;
    height: 41px;
    border-radius: 6px;
}
.balance-whole-content{
    background-color: white;
    margin-left: 7px;
    width: 1071px;
}
.edit-profile{
    display: grid;
    align-items: center;
    align-items: baseline;
    justify-content: space-around;
    justify-items: center;
    margin-top:35px;
}

.edit-profile-para1{
    font-size: 25px;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 500;
    color:#464646;
    margin-bottom: 5px;
}
.edit-profile-para2{
    font-size: 17px;
    font-family:"Inter", Arial, sans-serif;
    font-weight: 400;
    color:#858585;
;
}
.whole-form-content{
    margin-left: 87px;
    margin-top:83px;
}
.personal-info-para1,
.email-info-para1,
.phone-info-para1,
.gender-info-para1,
.step,
.steep,
.stop,
.interest-info-para1{
    font-family:"Inter", Arial, sans-serif;
    color: #141414;
    font-size: 18px;
    font-weight:500px;
    margin-bottom: 25px;

}
.personal-info-form,
.email-info-form,
.phone-info-form,
.step,
.steep,
.stop,
.gender-info-form{
    display: flex;
    margin-top: 10px;
    width: 254px;
    height: 41px;
}
.input-field{
    background-color:#F6F6F6;
    border:none; 
    color:#A4A4A4;
    font-family:Inter, Arial, sans-serif;
    font-size:15px;
    font-weight: 400;
    padding: 21px;
    flex: 1;
}
.email-address,
.phone-number,
.gender,
.interest,
.step,
.steep,
.stop
{
    margin-top:30px;
}
.custom-radio:checked {
    accent-color: black; /* This changes the color when checked */
}
.interest-button{
    font-size: 18px;
    height: 40px;
    width: auto;
    min-width: 20px;
    border: 1px solid black;
    padding: 2px 10px;
    margin: 4px;
}
.btn,
.btntype {
            cursor: pointer;
            padding: 5px 10px;
            background-color: #828588;
            color: white;
            border: none;
            border-radius: 4px;
            margin-left: -102px;
        }
        .btn,.btntype:hover {
            background-color: #8f9091;
        }
        .form-container {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            background-color: white;
            border: 1px solid #ccc;
            border-radius: 5px;
            z-index: 999;
            width: 1138px;
            height: 720px;
        
        }
        .form-container label {
            display: block;
            margin-bottom: 5px;
        }
        .form-container input[type="text"] {
            width: calc(100% - 20px);
            padding: 5px;
            margin-bottom: 10px;
        }
        .form-container button {
            padding: 8px 16px;
            background-color: white;
            color: rgb(11, 11, 11);
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-left: 0px;
            margin-top: 34px;
        }
        .form-container button:hover {
            background-color: white;
        }
        .head {
            font-size: 24px; /* Adjust the font size as needed */
            font-weight: bold;
            margin-bottom: 10px;
            position: relative;
        }
        .input-field::placeholder {
             padding-left: 300px; /* Adjust this value as needed */
    /* Other styles if necessary */
            }
        .interest-buttons-container {
             display: flex;
             flex-wrap: wrap;
            }

/* edu */
.overlay {
            display: none; /* Initially hidden */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 1000;
        }
        .popup-form {
            display: none; /* Initially hidden */
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #fff;
            padding: 20px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
            z-index: 1001;
            height: 732px;
            width: 1058px;
        }
        .popup-form form {
            display: flex;
            flex-direction: column;
        }
        .popup-form label {
            margin-top: 10px;
        }
        .form-control{
            width: 49%;
            height: 54px;
            border: none;
            padding-left: 5px;
            color: #8f9091;
            background-color: #F6F6F6;
        }
        .date-inputs{
            margin-top: 40px;
            margin-bottom: 9px;
        }
</style>

{% endblock %}
{% block body %}
<div class="whole-page">
<div class="sidebar">
  <div class="profile-pic-container">
    <div class="profile-pic">
    <img class="image" src="{% static 'img\profile image bloom.png' %}">
    <p class="user-name">{{user.username}} </p>
    </div>
  </div>
<div class="sidebar-list">
<div class="sidebar-anchors">
    <a href="">View Public Profile</a><br>
    <a href="">Profile</a><br>
    <a href="">Photo</a><br>
    <a href="">Account Security</a><br>
    <a href="">Payment Methods</a><br>
    <a href="">Notifications</a><br>
    <a href="">My Feedback & Ratings</a><br>
    <a href="">Privacy</a><br>
</div>
</div>
</div>
<div class="balance-whole-content">
    <div class="edit-profile">
       <p class="edit-profile-para1"> Edit  Your Profile Profile</p>
       <p class="edit-profile-para2">Add information about yourself</p>
    </div>
<div class="whole-form-content">
<div class="personal-info">
    <div class="personal-info-para1">Personal Information</div>
    <form class="personal-info-form">
        <input type="text" value="{{user.username}}" class="input-field">
        <input type="text" value="{{user.username}}" class="input-field"style="margin-left:15px;">
    </form>
</div><!--personal information close-->
<div class="email-address">
    <div class="email-info-para1"> Email Address</div>
    <form class="email-info-from">
        <input type="email" value="{{user.email}}" class="input-field" style="margin-bottom: 1px;">
    </form>
</div><!--email adress close-->
<div class="phone-number">
    <div class="phone-info-para1">Phone Number</div>
    <form class="phone-info-form">
    <input type="tel" id="phone" name="phone_number" value="{{ user.phone_number }}" style="width: 200px;background-color:#E5E5E5;border: none;height: 100%;">
    </form>
</div><!--phone number close-->
<div class="gender">
    <div class="gender-info-para1">Gender</div>
    <form class="gender-info-form">
        <div style="margin-top: 5px; display: flex;">
        <input  type="radio" value="Male" class="custom-radio" style="width: 20px;height: 20px;"><p style="font-size: 15px;color: #A4A4A4;  font-family:Inter, Arial, sans-serif; margin-left: 12px;">Male</p>
        <input type="radio" value="female" class="custom-radio" style="width: 20px; height: 20px;margin-left: 38px;"><p style="font-size: 15px;color: #A4A4A4;  font-family:Inter, Arial, sans-serif;margin-left: 12px;">Female</p>
        </div>
    </form>
<div class="wrapper2">
    <div class="content">
        <div class="left">
            <!-- <div class="square"> -->
                <!-- <div class="b">
                    <svg width="58" height="58" viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M28.6514 39.0326C33.2799 39.0326 36.8693 35.403 36.8693 30.4161C36.8693 25.4293 33.3113 21.8312 28.6829 21.8312C26.1325 21.8312 23.9914 22.9043 22.8264 24.8296H22.543V15.2031H19.9297V38.4014H22.543V35.9395H22.8264C23.9914 37.8964 26.038 39.0326 28.6514 39.0326ZM28.368 36.6655C24.936 36.6655 22.4486 33.9196 22.4486 30.4161C22.4486 26.9127 24.936 24.1984 28.368 24.1984C31.7685 24.1984 34.2559 26.9127 34.2559 30.4161C34.2559 33.9827 31.7685 36.6655 28.368 36.6655Z" fill="black"/>
                        <path d="M39.5623 38.8117C40.5699 38.8117 41.2941 38.0858 41.2941 37.0758C41.2941 36.0658 40.5699 35.3399 39.5623 35.3399C38.5233 35.3399 37.8306 36.0658 37.8306 37.0758C37.8306 38.0858 38.5233 38.8117 39.5623 38.8117Z" fill="black"/>
                    </svg>
                </div> -->


                <!-- <div class="content-container">
                    <div class="content-box">
                        <div class="step">Interests</div>
                        <form method="POST" action="{% url 'save_top_interest_view' %}">
                            {% csrf_token %}
                            <div>
                                {% for interest in interests %}
                                    <button type="button" class="interest-button {% if interest in selected_interests %}selected{% endif %}" data-interest-id="{{ interest.id }}">{{ interest.interest_name }}</button>
                                {% endfor %}
                            </div>
                            <div class="buttons">
                                <input type="hidden" name="selected_interests" id="selected_interests" value="{% for interest in selected_interests %}{{ interest.id }},{% endfor %}">
                                <button type="submit" class="button1">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
var selectedInterests = [];

// Initialize selectedInterests from the hidden input field
document.addEventListener('DOMContentLoaded', (event) => {
    selectedInterests = document.getElementById('selected_interests').value.split(',').filter(Boolean);
    // Add the selected class to the pre-selected interest buttons
    selectedInterests.forEach(function(interestId) {
        var button = document.querySelector('.interest-button[data-interest-id="' + interestId + '"]');
        if (button) {
            button.classList.add('selected');
        }
    });

    // Attach click event listeners to the interest buttons
    document.querySelectorAll('.interest-button').forEach(function(button) {
        button.addEventListener('click', function() {
            var interestId = this.getAttribute('data-interest-id');
            toggleInterest(interestId);
        });
    });
});

function toggleInterest(interestId) {
    var index = selectedInterests.indexOf(interestId);
    if (index === -1) {
        selectedInterests.push(interestId);
        document.querySelector('.interest-button[data-interest-id="' + interestId + '"]').classList.add('selected');
    } else {
        selectedInterests.splice(index, 1);
        document.querySelector('.interest-button[data-interest-id="' + interestId + '"]').classList.remove('selected');
    }
    document.getElementById('selected_interests').value = selectedInterests.join(',');
}
</script>

{% endblock %}


 -->
 <div class="content-container">
    <div class="content-box">
        <div class="step">Interests</div>
        <form method="POST" action="{% url 'save_top_interest_view' %}" id="interest-form" style="font-size: 10px;">
            {% csrf_token %}
            <div>
                <div class="interest-buttons-container"style="font-size: 12px;">
                {% for interest in interests %}
                    <button type="button" class="interest-button {% if interest in selected_interests %}selected{% endif %}" data-interest-id="{{ interest.id }}">{{ interest.interest_name }}</button>
                {% endfor %}
            </div>
            </div>
            <div class="buttons">
                <input type="hidden" name="selected_interests" id="selected_interests" value="{% for interest in selected_interests %}{{ interest.id }},{% endfor %}">
            </div>
        </form>
    </div>
    <div class="stop">Short Bio</div>
    <input type="text" value="" class="input-field"placeholder="100"style="margin-left:7px;width:390px;height:10px;">
    <div class="step">Long Bio</div>
    <input type="text" value="" class="input-field"placeholder="1200"style="margin-left:7px;width:390px;height:100px;">
    <!-- <div class="step">Education</div>
    <input value="" class="input-field" style="margin-left:7px;width: 885px;
    height: 84px;"> -->
    <!-- plus button -->
    <!-- <button class="btn" onclick="toggleForm()">+</i></button>
    <i style="font-size:19px;margin-left: 21px;" class="fa">&#xf040;</i> -->
    <!-- work experience -->
    <!-- <div class="steep">Work Experience</div>
    <input value="" class="input-fields" style="margin-left:7px;width: 885px; -->
    <!-- height: 84px;background-color: #F6F6F6;;border: none;"> -->
    <!-- plus button -->
    <!-- <button class="btntype" onclick="toggleForm()">+</i></button>
    <i style="font-size:19px;margin-left: 21px;" class="fa">&#xf040;</i>
       <div id="overlay" class="overlay" onclick="toggleForm()"></div>
    </div>
    <button type="submit" class="btn" style="background: #2f2fe2; margin-left: 8px;
    margin-bottom: 44px;
    margin-top: 61px;">Save</button>
    </div> -->
<!-- sub form plus button education-->

<!-- <div class="form-container" id="formContainer">
    <form method="post">
        {% csrf_token %}
        <div class="head" style="font-size: 24px; margin-top: 12px; margin-bottom: 32px;">
            School/College
            <button class="close-btn"><i class="fas fa-times" style="margin-left: 942px;"></i></button>
        </div>
        <label for="schoolName">School Name:</label>
        <input type="text" id="schoolName" name="schoolName" style="font-family: Inter, Arial, sans-serif; font-size: 15px; font-weight: 400; width: 1065px; height: 50px; display: flex; background-color: #F6F6F6; border: none;"><br>
        <label for="degree">Degree:</label>
        <input type="text" id="degree" name="degree" style="font-family: Inter, Arial, sans-serif; font-size: 15px; font-weight: 400; width: 1065px; height: 50px; display: flex; background-color: #F6F6F6; border: none;"><br>
        <label for="fieldOfStudy">Field of Study:</label>
        <input type="text" id="fieldOfStudy" name="fieldOfStudy" style="font-family: Inter, Arial, sans-serif; font-size: 15px; font-weight: 400; width: 1065px; height: 50px; display: flex; background-color: #F6F6F6; border: none;"><br>
        <div class="date-input">
            <label for="startDate">Start Date:</label>
            <div style="position: relative;">
                <input type="text" id="startDate" name="startDate" style="font-family: Inter, Arial, sans-serif; font-size: 15px; font-weight: 400; width: 469px; height: 50px; display: flex; background-color: #F6F6F6; border: none;" placeholder="Month">
                <button type="button" style="position: absolute; right: 639px; top: -16%; transform: translateY(-50%); padding: 5px;"><i class="fas fa-chevron-down"></i></button>
                 <input type="number" name="day" id="id_day" class="form-control" placeholder="Day" min="1" max="31"> -->
                <!-- <input type="text" id="startDateYear" name="startDateYear" style="font-family: Inter, Arial, sans-serif; font-size: 15px; font-weight: 400; width: 516px; height: 50px; display: flex; background-color: #F6F6F6; border: none; margin-left: 549px; margin-top: -59px;" placeholder="Year">
                <button type="button" style="position: absolute; right:46px; top: -16%; transform: translateY(-50%); padding: 5px;"><i class="fas fa-chevron-down"></i></button>
            </div>
        </div>
        <div class="date-input">
            <label for="endDate">End Date (or Expected):</label>
            <div style="position: relative;">
                <input type="text" id="endDate" name="endDate" style="font-family: Inter, Arial, sans-serif; font-size: 15px; font-weight: 400; width: 469px; height: 50px; display: flex; background-color: #F6F6F6; border: none;" placeholder="Month">
                <button type="button" style="position: absolute; right: 639px; top: -16%; transform: translateY(-50%); padding: 5px;"><i class="fas fa-chevron-down"></i></button>
                <input type="text" id="endDateYear" name="endDateYear" style="font-family: Inter, Arial, sans-serif; font-size: 15px; font-weight: 400; width: 516px; height: 50px; display: flex; background-color: #F6F6F6; border: none; margin-left: 549px; margin-top: -59px;" placeholder="Year">
                <button type="button" style="position: absolute; right:46px; top: -16%; transform: translateY(-50%); padding: 5px;"><i class="fas fa-chevron-down"></i></button>
            </div>
        </div>
        <button type="submit" class="btn" style="background: #2f2fe2;">Save</button>
    </form> -->
<!-- </div> -->




<div>
    <div class="step">Add Education</div>
    <input value="" class="input-field" style="margin-left:7px;width: 885px; height: 84px;">
    <!-- Plus button for Education -->
    <button class="btn" onclick="toggleEducationForm()">+</button>
    <i style="font-size:19px;margin-left: 21px;" class="fa">&#xf040;</i>
    <div id="overlay-education" class="overlay" onclick="toggleEducationForm()"></div>
    <div class="popup-form" id="educationForm">
        <form method="post">
            {% csrf_token %}
            <div class="head" style="font-size: 24px; margin-top: 12px; margin-bottom: 32px;">
                Education
                <button class="close-btn" style="background-color: white;border: none;    margin-left: 108px;
                margin-top: -3px;
                margin-bottom: 5px;" onclick="closeForm()"><i class="fas fa-times" style="margin-left: 942px;background-color: white;"></i></button>

                <!-- <button class="close-btn"><i class="fas fa-times" style="margin-left: 942px;"></i></button> -->
            </div>
            <label for="schoolName">School/College:</label>
            <input type="text" id="schoolName" name="schoolName" style="font-family: Inter, Arial, sans-serif; font-size: 15px; font-weight: 400; width: 1048px; height: 50px; display: flex; background-color: #F6F6F6; border: none; margin-top: 22px;"placeholder="Ex: Boston University"><br>
            <label for="degree">Degree:</label>
            <input type="text" id="degree" name="degree" style="font-family: Inter, Arial, sans-serif; font-size: 15px; font-weight: 400; width: 1048px; height: 50px; display: flex; background-color: #F6F6F6; border: none; margin-top: 24px;"placeholder="Ex: Bachelor's"><br>
            <label for="fieldOfStudy">Field of Study:</label>
            <input type="text" id="fieldOfStudy" name="fieldOfStudy" style="font-family: Inter, Arial, sans-serif; font-size: 15px; font-weight: 400; width: 1048px; height: 50px; display: flex; background-color: #F6F6F6; border: none;margin-top: 22px;"placeholder="Ex: Business"><br>
            <div class="date-input">
                <label for="startDate">Start Date:</label>
                <div style="position: relative;margin-top: 27px;">
                    <!-- month input type -->
                    <!-- <input type="text" id="startDate" name="startDate" style="font-family: Inter, Arial, sans-serif; font-size: 15px; font-weight: 400; width: 469px; height: 50px; display: flex; background-color: #F6F6F6; border: none;" placeholder="Month"> -->
                     <select name="startDate" id="startDate" class="form-control">
                        <option value="" disabled selected hidden class="month">Month</option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                    <!-- <input type="text" id="startDateYear" name="startDateYear" style="font-family: Inter, Arial, sans-serif; font-size: 15px; font-weight: 400; width: 516px; height: 50px; display: flex; background-color: #F6F6F6; border: none; margin-left: 549px; margin-top: -59px;" placeholder="Year"> -->
                    <input type="number" name="startDateYear" id="startDateYear" class="form-control" placeholder="Year" min="1900" max="2099">
                    <!-- <button type="button" style="position: absolute; right: 13px;top: 41%; transform: translateY(-50%); padding: 5px;"><i class="fas fa-chevron-down"></i></button> -->
                    <!-- <input type="number" name="day" id="id_day" class="form-control" placeholder="Day" min="1" max="31"> --> 
                     <!-- <input type="text" id="startDateYear" name="startDateYear" style="font-family: Inter, Arial, sans-serif; font-size: 15px; font-weight: 400; width: 516px; height: 50px; display: flex; background-color: #F6F6F6; border: none; margin-left: 549px; margin-top: -59px;" placeholder="Year"> -->
                    <!-- <button type="button" style="position: absolute;right: 612px;top: 62%; transform: translateY(-50%); padding: 5px;"><i class="fas fa-chevron-down"></i></button> -->
                <!-- </div>
            </div> -->
            
            <div class="date-inputs">
                <label for="endDate" class="end-date-label">End Date (or Expected):</label>
                <div style="position: relative; margin-top: 14px;">
                    <select name="endDate" id="endDate" class="form-control">
                        <option value="" disabled selected hidden class="month">Month</option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                    <!-- <input type="text" id="endDate" name="endDate" style="font-family: Inter, Arial, sans-serif; font-size: 15px; font-weight: 400; width: 469px; height: 50px; display: flex; background-color: #F6F6F6; border: none;" placeholder="Month"> -->
                    <!-- <button type="button" style="position: absolute; right: 612px; -->
                    <!-- top: 62%; transform: translateY(-50%); padding: 5px;"><i class="fas fa-chevron-down"></i></button> -->
                    <!-- <input type="text" id="endDateYear" name="endDateYear" style="font-family: Inter, Arial, sans-serif; font-size: 15px; font-weight: 400; width: 516px; height: 50px; display: flex; background-color: #F6F6F6; border: none; margin-left: 549px; margin-top: -59px;" placeholder="Year"> -->
                    <input type="number" name="endDateYear" id="endDateYear" class="form-control" placeholder="Year" min="1900" max="2099">
                    <!-- <button type="button" style="position: absolute; right:46px; top: -16%; transform: translateY(-50%); padding: 5px;"><i class="fas fa-chevron-down"></i></button> -->
                    <div>
                    <button type="submit" class="btn" style="background: #2f2fe2; margin-left: 0px;margin-top: 22px;">Save</button>
                </div>
            </div>
            </div>
            </div>
            </div>
        </form> 
    </div>
</div>

<div>
    <div class="step">Work Experience</div>
    <input value="" class="input-field" style="margin-left:7px;width: 885px; height: 84px; background-color: #F6F6F6; border: none;">
    <!-- Plus button for Work Experience -->
    <button class="btn" onclick="toggleWorkForm()">+</button>
    <i style="font-size:19px;margin-left: 21px;" class="fa">&#xf040;</i>
    <div id="overlay-work" class="overlay" onclick="toggleWorkForm()"></div>
    <div class="popup-form" id="workForm">
        <form>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title">
            
            <label for="employmentType">Employment Type:</label>
            <input type="text" id="employmentType" name="employmentType">
            
            <label for="company-name">Company Name*</label>
        <input type="text" id="company-name" name="company-name" required>

        <label for="location">Location</label>
        <input type="text" id="location" name="location">

        <label for="location-type">Location Type</label>
        <select id="location-type" name="location-type">
            <option value="on-site">On-Site</option>
            <option value="remote">Remote</option>
            <option value="hybrid">Hybrid</option>
        </select>

        <label for="current-role">
            <input type="checkbox" id="current-role" name="current-role">
            I am currently working in this role
        </label>

        <label for="end-current-position">
            <input type="checkbox" id="end-current-position" name="end-current-position">
            End current position as of now
        </label>

        <label for="industry">Industry*</label>
        <input type="text" id="industry" name="industry" required>

        <label for="description">Description</label>
        <textarea id="description" name="description" rows="4"></textarea>

        <button type="submit">Save</button>
    </form>
    </div>
</div>

<script>
var selectedInterests = [];

// Initialize selectedInterests from the hidden input field
document.addEventListener('DOMContentLoaded', (event) => {
    selectedInterests = document.getElementById('selected_interests').value.split(',').filter(Boolean);
    // Add the selected class to the pre-selected interest buttons
    selectedInterests.forEach(function(interestId) {
        var button = document.querySelector('.interest-button[data-interest-id="' + interestId + '"]');
        if (button) {
            button.classList.add('selected');
        }
    });

    // Attach click event listeners to the interest buttons
    document.querySelectorAll('.interest-button').forEach(function(button) {
        button.addEventListener('click', function() {
            var interestId = this.getAttribute('data-interest-id');
            toggleInterest(interestId);
        });
    });
});

function toggleInterest(interestId) {
    var index = selectedInterests.indexOf(interestId);
    if (index === -1) {
         if (selectedInterests.length < 3) {
        selectedInterests.push(interestId);
        document.querySelector('.interest-button[data-interest-id="' + interestId + '"]').classList.add('selected');
    }} else {
        selectedInterests.splice(index, 1);
        document.querySelector('.interest-button[data-interest-id="' + interestId + '"]').classList.remove('selected');
    }
    document.getElementById('selected_interests').value = selectedInterests.join(',');
    saveInterests();
}

function saveInterests() {
    var form = document.getElementById('interest-form');
    var formData = new FormData(form);

    fetch(form.action, {
        method: 'POST',
        headers: {
            'X-CSRFToken': form.querySelector('[name=csrfmiddlewaretoken]').value
        },
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        console.log('Success:', data);
    })
    .catch((error) => {
        console.error('Error:', error);
    });
}


// plus education form javascript

// function toggleForm() {
//         var formContainer = document.getElementById('formContainer');
//         formContainer.style.display = formContainer.style.display === 'none' ? 'block' : 'none';
//     }
// plus education form end

// plus end work form javascript







function toggleEducationForm() {
            const form = document.getElementById('educationForm');
            const overlay = document.getElementById('overlay-education');
            const isVisible = form.style.display === 'block';
            form.style.display = isVisible ? 'none' : 'block';
            overlay.style.display = isVisible ? 'none' : 'block';
        }

        function toggleWorkForm() {
            const form = document.getElementById('workForm');
            const overlay = document.getElementById('overlay-work');
            const isVisible = form.style.display === 'block';
            form.style.display = isVisible ? 'none' : 'block';
            overlay.style.display = isVisible ? 'none' : 'block';
        }





        function closeForm() {
    let dateString = document.getElementById('dateInput').value; // Replace with your actual date input element
    if (/^\d{4}-\d{2}-\d{2}$/.test(dateString)) {
        // Proceed with the valid date string
        sendDateToBackend(dateString);
    } else {
        console.error('Invalid date format');
    }
}

</script>



